* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#root {
  background: #0f0f0f;
  width: 100vw;

  /*----------------- Header-----------------  */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.265);

    .left {
      display: flex;
      align-items: center;

      .menu {
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        background: none;
        border: none;
        cursor: pointer;

        i {
          font-size: 24px;
          color: #fff;
        }
      }

      .logo {
        padding: 18px 14px 18px 16px;
        cursor: pointer;

        svg {
          width: 90px;
          fill: white;
        }
      }
    }

    .middle {
      width: 732px;
      display: flex;
      justify-content: space-between;
      background-color: #222222;
      border-radius: 8px;
      height: 40px;

      form {
        display: flex;
        border-radius: 40px;
        background-color: #222222;
        gap: 2px;
        height: 40px;

        input {
          background-color: #121212;
          color: #fff;
          outline: none;
          margin-left: 32px;
          padding: 0px 4px 0px 16px;
          align-items: center;
          width: 568px;
          font-size: 16px;
          border: none;
        }
      }

      svg {
        color: white;
        font-size: 24px;
        height: 40px;
        width: 64px;
      }
    }

    .right {
      display: flex;
      align-items: center;

      button {
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        background: none;
        border: none;
        cursor: pointer;

        i {
          font-size: 24px;
          color: white;
        }
      }

      .current-user {
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }
    }
  }

  main {
    height: calc(100vh - 62.8px);
    display: flex;

    .sidebar {
      width: 240px;
      height: 100%;
      overflow-y: auto;

      ul {
        li {
          color: white;
          padding: 8px;
          font-size: 16px;
        }
      }
    }

    .feed {
      width: calc(100% - 240px);
      height: 100%;
      overflow-y: auto;

      .top {
        position: sticky;
        top: 0;

        ul {
          padding: 16px;
          display: flex;
          gap: 8px;
          overflow-x: hidden;
          color: #ffffff;
          overflow-x: auto;
          background-color: aqua;
          overflow: scroll;

          li {
            padding: 8px 16px;
            font-size: 16px;
            background: #222;
            border: 1px solid rgba(255, 255, 255, 0.171);
            border-radius: 8px;
            border: none;
          }
        }
      }

      .bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        .card{
          padding: 16px;
        }
      }
    }
  }
}
